* text=auto

composer.lock linguist-generated

.editorconfig export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.phpcs.xml.dist export-ignore
composer.lock export-ignore
e2e/ export-ignore
phpbench.json export-ignore
phpstan-strict-rules.php export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore
tests/ export-ignore
