services:
  - class: Mfn\PHPStanLostInTranslation\LostInTranslationHelper
  - class: Mfn\PHPStanLostInTranslation\Fuzzy\FuzzyStringSetFactory
  - class: Mfn\PHPStanLostInTranslation\TranslationLoader\PhpLoader
    arguments:
      invalidCharacterEncodings: %lostInTranslation.invalidCharacterEncodings%
  - class: Mfn\PHPStanLostInTranslation\TranslationLoader\JsonLoader
  - class: Mfn\PHPStanLostInTranslation\TranslationLoader\TranslationLoader
    arguments:
      baseLocale: %lostInTranslation.baseLocale%
      langPath: %lostInTranslation.langPath%
      fuzzySearch: %lostInTranslation.fuzzySearch%
  - class: Mfn\PHPStanLostInTranslation\UnusedTranslationStringCollector


  - class: Mfn\PHPStanLostInTranslation\Rule\TranslationLoaderErrorRule
    arguments:
      invalidLocales: %lostInTranslation.invalidLocales%
      strictLocales: %lostInTranslation.strictLocales%
  - class: Mfn\PHPStanLostInTranslation\Rule\LostInTranslationRule
    tags: ["phpstan.rules.rule"]


  - class: Mfn\PHPStanLostInTranslation\CallRule\CallRuleCollection
  - class: Mfn\PHPStanLostInTranslation\CallRule\DynamicTranslationStringRule
  - class: Mfn\PHPStanLostInTranslation\CallRule\InvalidCharacterEncodingRule
  - class: Mfn\PHPStanLostInTranslation\CallRule\InvalidChoiceRule
  - class: Mfn\PHPStanLostInTranslation\CallRule\InvalidLocaleRule
    arguments:
      strictLocales: %lostInTranslation.strictLocales%
  - class: Mfn\PHPStanLostInTranslation\CallRule\InvalidReplacementRule
  - class: Mfn\PHPStanLostInTranslation\CallRule\MissingTranslationStringInBaseLocaleRule
  - class: Mfn\PHPStanLostInTranslation\CallRule\MissingTranslationStringRule


  - class: Mfn\PHPStanLostInTranslation\UnusedTranslationStringFakeCollectorRule
  - class: Mfn\PHPStanLostInTranslation\UnusedTranslationStringRule


  errorFormatter.lostInTranslationJson:
    class: Mfn\PHPStanLostInTranslation\ErrorFormatter\JsonErrorFormatter


conditionalTags:
	Mfn\PHPStanLostInTranslation\Rule\TranslationLoaderErrorRule:
		phpstan.rules.rule: %lostInTranslation.translationLoaderErrors%
	Mfn\PHPStanLostInTranslation\UnusedTranslationStringCollector:
		phpstan.collector: %lostInTranslation.unusedTranslationStrings%
	Mfn\PHPStanLostInTranslation\UnusedTranslationStringFakeCollectorRule:
		phpstan.rules.rule: %lostInTranslation.unusedTranslationStrings%
	Mfn\PHPStanLostInTranslation\UnusedTranslationStringRule:
		phpstan.rules.rule: %lostInTranslation.unusedTranslationStrings%

parametersSchema:
    lostInTranslation: structure([
        disallowDynamicTranslationStrings: bool(),
        baseLocale: schema(string(), nullable()),
        invalidCharacterEncodings: bool(),
        invalidChoices: bool(),
        invalidLocales: bool(),
        invalidReplacements: bool(),
        fuzzySearch: bool(),
        langPath: schema(string(), nullable()),
        missingTranslationStringsInBaseLocale: bool(),
        missingTranslationStrings: bool(),
        strictLocales: bool(),
        translationLoaderErrors: bool(),
        unusedTranslationStrings: bool()
    ])

parameters:
    lostInTranslation:
        disallowDynamicTranslationStrings: false
        baseLocale: null
        invalidCharacterEncodings: true
        invalidChoices: true
        invalidLocales: true
        invalidReplacements: true
        fuzzySearch: true
        langPath: null
        missingTranslationStringsInBaseLocale: true
        missingTranslationStrings: true
        strictLocales: false
        translationLoaderErrors: true
        unusedTranslationStrings: false
