includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phpstan-strict-rules.php
    - extension.neon
parameters:
    level: max
    paths:
        - e2e
        - src
        - tests
    excludePaths:
        - e2e/src
        - tests/*BladeRuleTest.php
        - tests/data/*
        - tests/**/data/*
        - tests/lang*/*
        - tests/**/lang*/*
    lostInTranslation:
        langPath: tests/lang
